:root {
  --primary: #c19d6c;
  --secondary: #f4f4f4;
  --hover: #eee5d8f2;
  --hover-card: #e0eff5;
  --dark: #1a1a1a;
  --dark-secondary: #14100c;
  --light: #fff;
}

/* Fonts */
@font-face {
  font-family: 'Gotham Bold';
  src: url('../fonts/Gotham-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham Light';
  src: url('../fonts/Gotham-Light.otf') format('opentype');
}

body {
  font-family: 'Gotham Light', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Gotham Bold';
}

p {
  font-family: 'Gotham Light';
}

a {
  text-decoration: none;
  font-family: 'Gotham Light';
}

/* Button */
.btn-primary-kelas {
  background: var(--primary);
  border: 2px solid var(--primary);
  color: #fff;
  margin: 0 10px;
}

.btn-primary-kelas:hover {
  background: transparent;
  border: 2px solid var(--primary);
  color: var(--primary);
}

.btn-outline-kelas {
  border: 2px solid var(--primary);
  color: var(--primary);
  background: transparent;
}

.btn-outline-kelas:hover {
  border: 2px solid var(--primary);
  color: #fff;
  background: var(--primary);
}

.btn-outline-kelas-2 {
  border: 2px solid var(--light);
  color: var(--light);
  background: transparent;
}

.btn-outline-kelas-2:hover {
  border: 2px solid var(--light);
  color: #fff;
  background: var(--light);
}

/* Hero */
.hero {
  background: url('../img/banner/banner-hero.png') no-repeat center center/cover;
  /* height: 450px; */
}

/* Support */
.partner {
  background: var(--secondary);
  /* padding: 50px 0; */
}

.partner-logo {
  max-width: fit-content;
  margin: 0 auto;
  height: 100px;
  gap: 0px;
  opacity: 0px;
}

/* CTA */
.cta-container {
  background: url('../img/banner/banner-cta.png') no-repeat center center/cover;
}

.cta {
  background: var(--hover);
  color: #fff;
  padding: 50px 0;
}

.cta h1 {
  color: var(--dark);
}

.cta p {
  color: var(--dark-secondary);
}

/* Kenap[a kelas center */
.kenapa-kelas-center .card-kenapa {
  background-color: var(--light);
  border-radius: 0.3rem;
}

.kenapa-kelas-center .card-kenapa:hover {
  background-color: var(--hover-card);
  border-radius: 0.3rem;
}

.kenapa-kelas-center .bg-kenapa-kelas-center {
  background-color: var(--primary);
}
